{% assign data = site.data.footer.links[include.key] %}

<section>
    <header>
        <h2>{{ data.header }}</h2>
    </header>
    <ul class="divided">
        {% for link in data.links %}
            <li>
                <a href="{{ link.url | relative_url }}">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>