{% assign project = site[include.collection][include.index] %}

<ul class="actions">
    <li>
        <a href="{{ project.url | relative_url }}" class="button alt">
            <span><span>{{ site.data.projects.listing.actions.permalink }}</span></span>
        </a>
    </li>
</ul>