{% assign project = site[include.collection][include.index] %}

<ul class="actions">
    <li><a href="{{ project.url }}" class="button alt">{{ site.data.projects.listing.actions.permalink }}</a></li>
</ul>