$primary: #d52349;
$primary-lighter: #ef3359;
$primary-darker: #c51349;

$secondary: #252122;
$secondary-lighter: #353132;
$secondary-darker: #151112;

$alt: #827a7c;
$alt-lighter: #908c8d;
$alt-darker: #75676b;

$blue-faded: #cce8f4;
$blue-bright: #43bff0;

$white: #fff;
$black: #000;

$neutral-100: #f7f7f7;
$neutral-200: #f3f3f3;
$neutral-300: #dfdfdf;
$neutral-400: #ddd; // $neutral-lighter
$neutral-500: #ccc; // $neutral
$neutral-600: #c5c4c4;
$neutral-700: #aaa;
$neutral-800: #969696;
$neutral-900: #888; // $neutral-medium
$neutral-1000: #858484;
$neutral-1100: #5d5d5d; // $neutral-darker

$neutral: $neutral-500;
$neutral-lighter: $neutral-400;
$neutral-medium: $neutral-900;
$neutral-darker: $neutral-1100;