<ul>
    {% for item in include.items %}
        {% assign first = item.url | slice: 0 %}
        {% if first == '#' %}
            {% assign url = item.url | prepend: page.url %}
        {% else %}
            {% assign url = item.url | relative_url %}
        {% endif %}

        {% assign current = false %}
        {% if page.url == url %}
            {% assign current = true %}
        {% elsif page.section and item.section and page.section == item.section %}
            {% assign current = true %}
        {% endif %}

        <li {% if current %}class="current"{% endif %}>
            {% capture linkContent %}
                {% if include.level == 0 %}
                    {% assign pre = '<span>' %}
                    {% assign post = '</span>' %}
                {% else %}
                    {% assign pre = '' %}
                    {% assign post = '' %}
                {% endif %}
                {{ item.title | prepend: pre | append: post }}
            {% endcapture %}

            <a href="{{ url | relative_url }}">{{ linkContent }}</a>

            {% if item.children %}
                {% assign newLevel = include.level | plus:1 %}
                {% include nav/inner.liquid items=item.children level=newLevel %}
            {% endif %}
        </li>
    {% endfor %}
</ul>