<ul>
    {% for item in include.items %}
        {% assign first = item.url | slice: 0 %}

        {% if first == '' %}
            {% assign url = site.baseUrl %}
        {% elsif first == '#' %}
            {% assign url = item.url | prepend: page.url %}
        {%  elsif first == '/' %}
            {%  assign url = item.url %}
        {% else %}
            {% if item.url contains '://' %}
                {% assign url = item.url %}
            {% else %}
                {% assign url = item.url | prepend: site.baseUrl %}
            {% endif %}
        {% endif %}

        {% assign current = false %}
        {% if page.url == url %}
            {% assign current = true %}
        {% elsif page.section and item.section and page.section == item.section %}
            {% assign current = true %}
        {% endif %}

        <li {% if current %}class="current"{% endif %}>
            <a href="{{ url }}"><span>{{ item.title }}</span></a>
            {% if item.children %}
                {%  include nav/inner.liquid items=item.children %}
            {% endif %}
        </li>
    {% endfor %}
</ul>