<section id="comments">
    <header>
        <h2>{{ site.data.posts.comments }}</h2>
    </header>

    <p>comments have not been set up yet</p>
    {% comment %}

    if you choose to add comments override this file with your chosen implementation
    if you don't setup comments make sure you update the blog listing actions

    {% endcomment %}
</section>