<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                {% include footer/latest.liquid %}

            </div>
            <div class="col-4 col-12-medium">

                {% include footer/about.liquid %}

            </div>
            <div class="col-4 col-6-medium col-12-small">

                {% include footer/links.liquid key='first' %}

            </div>
            <div class="col-4 col-6-medium col-12-small">

                {% include footer/links.liquid key='second' %}

            </div>
            <div class="col-4 col-12-medium">

                {% include footer/contact.liquid %}

            </div>
            <div class="col-12">

                {% include footer/copyright.liquid %}

            </div>
        </div>
    </div>
</section>