<section id="intro">
    <div class="container">
        <div class="row">
            {% assign order = "first, middle, last" | split: ", " %}
            {% for item in site.data.i18n.home.intro.items %}
                <div class="col-4 col-12-medium">
                    <section class="{{ order[forloop.index0] }}">
                        <i class="icon solid featured {{ item.icon }} {{ item.iconVariant }}"></i>
                        <header>
                            <h2>{{ item.title }}</h2>
                        </header>
                        <p>{{ item.description }}</p>
                    </section>
                </div>
            {% endfor %}
        </div>
        <footer>
            <ul class="actions">
                {% for action in site.data.i18n.home.intro.actions %}
                    <li><a href="{{ action.href }}" class="button large {{ action.variant }}">{{ action.title }}</a></li>
                {% endfor %}
            </ul>
        </footer>
    </div>
</section>