<nav id="nav">
    <ul>
        <li {% if page.url == "/" %}class="current"{% endif %}><a href="{{ site.baseUrl }}">Home</a></li>
        <li>
            <a href="#">Dropdown</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li><a href="#">Veroeros feugiat</a></li>
                        <li><a href="#">Nisl sed aliquam</a></li>
                        <li><a href="#">Dolore adipiscing</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li {% if page.url == "/left-sidebar.html" %}class="current"{% endif %}><a href="left-sidebar.html">Left Sidebar</a></li>
        <li {% if page.url == "/right-sidebar.html" %}class="current"{% endif %}><a href="right-sidebar.html">Right Sidebar</a></li>
        <li {% if page.url == "/no-sidebar.html" %}class="current"{% endif %}><a href="no-sidebar.html">No Sidebar</a></li>
    </ul>
</nav>