{% if page.sidebar.file %}
    {% assign sidebarFile = page.sidebar.file %}
{% elsif layout.sidebar.file %}
    {% assign sidebarFile = layout.sidebar.file %}
{% else %}
    {% assign sidebarFile = site.sidebar.file %}
{% endif %}

{% if site.debug %}
    <table>
        <caption>Sidebar To Use</caption>
        <tr>
            <th>page</th>
            <td><code>{{ page.sidebar.file }}</code></td>
        </tr>
        <tr>
            <th>layout</th>
            <td><code>{{ layout.sidebar.file }}</code></td>
        </tr>
        <tr>
            <th>site</th>
            <td><code>{{ site.sidebar.file }}</code></td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ sidebarFile | prepend: "sidebar/" | append: ".html" }}
            </td>
        </tr>
    </table>
{% endif %}

{% include {{ sidebarFile | prepend: "sidebar/" | append: ".html" }} %}