{% include site-pre.liquid %}

    {% include header.liquid %}

    <section id="main">

        {{ content }}

    </section>

    {% include footer.liquid %}

{% include site-post.liquid %}